
 <ion-view view-title="History">
       <ion-content>
         <ion-list>
             <ion-item  ng-repeat = "(key,date) in dates" class="itemcsshistory">
                    &nbsp&nbsp&nbsp&nbsp<span class="datesheader">{{key}}</span>
                    <div class="background" ng-if="!dates[key]">
                        <div class="backgroundpic" ng-if="!dates[key]">
                            <i class="ion-ios-box"></i>
                            <h2 class="smalltextpic">History is Empty</h2>
                        </div>
                    </div>
                    <ion-item  ng-repeat = "purchase in dates[key]" class="itemcssh"> 
                        <div>
                             <span  class="threetimesh">{{purchase.Quantity}}</span><span class = "thexh"exh>x</span>
                             <span  class="itemname">{{purchase.Name}}</span>
                             <span  class="smalltext" class="timeinhistory"><mydate>{{purchase.Date | date:'HH:mm'}}<mydate></span> 
                        </div>       
                        <div class="smalltext">{{purchase.shop}}</div>
                     </ion-item>
             </ion-item>
          </ion-list>   
       </ion-content>
   </ion-view>