<ion-view hide-nav-bar="true" class="loginback">
    <ion-content   class="padding text-center" ng-hide="passwords !== null" >
        <div style="height: 25px"></div>
        <h1>Shop Assist</h1>
         <img ng-src="img/main.PNG" style="width:80px;height:auto;">
        <div style="height: 18px"></div>
        <form name="loginForm" ng-submit="submit($event)">
        <ion-list class="border-none">
            <ion-item class="item-input border-bottom">
                <input ng-model="login.email" name="email" type="email" placeholder="Email" required>
            </ion-item>
            <ion-item class="item-input" border-bottom>
                <input ng-model="login.password" name="password" type="password" placeholder="Password" required>
            </ion-item>
        </ion-list>
            <div class="padding">
                <p ng-show="loginForm.$submitted && loginForm.email.$invalid && !signupForm.username.$pristine">* Username must be an email address</p>
                <p ng-show="loginForm.$submitted && loginForm.email.$error.required">* Username is required</p>
                <p ng-show="loginForm.$submitted && loginForm.password.$error.required">* Password is required</p>
            </div>
       <!-- <div class="padding">
            <input type="submit" value="Continue" class="button button-clear button-large">
      </div>-->
              <div style="height: 20px"></div>
            <div class="padding">
                <button ng-hide="isLoading" type="button" class="button button-block button-royal" ng-disabled="loginForm.$invalid" ng-click="submit($event)">Log In</button>
                <style>
                    .spinner svg {
                         width: 80px;
                         height: 80px;
                    }
                </style>
                <ion-spinner ng-show="isLoading" icon="ripple"></ion-spinner>
            </div>
          <div class="padding">
            <!--<a class="button button-clear button-large" href="#/sign-up-name">
                Continue
            </a>-->
            <p ng-hide="{{isPrivate}}" class="donthavelabel">Don't have an account?
                <a class="loginlink" href="#/sign-up">Create one here</a></p>
                <div style="margin:7%;"></div>
                 <p ng-hide="{{isPrivate}}" class="donthavelabel">or</p>
                <div style="margin:10%;"></div>
              <button class="button button-block button-positive icon-left ion-social-facebook" 
                style=" background:rgb(253,132,38);margin:0%;margin-top:3%;border-color: white;" 
                ng-click="social($event,'facebook')">Login with Facebook</button>
     <!--<button class="button button-block button-positive icon-left ion-social-google"
     style="background: #d34836;" ng-click="social($event,'google')">Login with Google</button>-->
  
        </form>
    </ion-content>
</ion-view>