
  <ion-modal-view style="background-color:#FFA500;">
    <ion-content>
        <div style="margin-top:6%;"></div>
        <div class="row">
       <span ng-click="daily()" style="margin-left:32%;padding: 8%;padding-top: 7%; padding-bottom: 7%;
        border-radius: 100%; background-color: white"><i style="color:rgb(253,132,38);font-size: 300%; "class="ion-android-sunny"></i></span>
       </div>
        <div class="row">
        <span style="margin-left: 34%;padding-top: 3%; color: white;font-family: 'Catamaran', sans-serif;">Buy items daily</span>
       </div>
        <div style="margin-top:12%;"></div>
       <div class="row">    
      <span ng-click="weekly()" style="margin-left:32%;padding: 9%;padding-top: 7%; padding-bottom: 7%; 
       border-radius: 100%; background-color: white"><i style="color:rgb(253,132,38);font-size: 300%;  "class="ion-ios-redo"></i></span>
      </div>
      <div class="row">  
      <span style="margin-left: 31%;padding-top: 3%; color: white;font-family: 'Catamaran', sans-serif;">Buy items weekly</span>
      </div>
       <div style="margin-top:12%;"></div>
      <div class="row">
      <span ng-click="monthly()" style="margin-left:32%;padding: 11%;padding-top: 7%; padding-bottom: 7%; border-radius: 100%;
       background-color: white"><i style="color:rgb(253,132,38);font-size: 300%;  "class="ion-ios-moon"></i></span>
      </div>
      <div class="row">
      <span style="margin-left: 30%;padding-top: 3%; color: white;font-family: 'Catamaran', sans-serif;">Buy items monthly</span>
      </div>
       <div style="margin-top:12%;"></div>
       <div class="row">
      <span ng-click="removeAllItems()" style="margin-left:12%;padding:11%;padding-top: 8%; padding-left: 8%; padding-bottom: 7%; border-radius: 100%;
       background-color: white"><i style="margin-left: 28%;color:rgb(253,132,38);font-size: 203%;  "class="ion-close"></i></span>

       <span ng-click="exit(items)" style="margin-left:12%;padding: 11%;padding-top: 8%; padding-left: 8%; padding-bottom: 7%; border-radius: 100%;
       background-color: white"><i style="margin-left: 28%;color:rgb(253,132,38);font-size: 235%;  "class="ion-android-exit"></i></span>

      </div>
      <div class="row">
      <span style="margin-left: 13%;padding-top: 3%; color: white;font-family: 'Catamaran', sans-serif;"> Remove items <br style="margin-left: 2%"> from schedules </span>
     
      <span style="margin-left:22% ;padding-top:3% ; color: white;font-family: 'Catamaran', sans-serif;">Exit</span>
      </div>
     
 
    </ion-content>
  </ion-modal-view>

