
              <div >
                      <div >
                           <ion-icon name="ion-ios-cart" item-left></ion-icon>
                         </div>
                  <div class="row" class="givePopupSpace">
                        <div class="quantitiySize">
                              <input type="number" ng-model="data.quantity"  class="popupinput" placeholder="1 X"  name="quantity"/>
                        </div>
                         <div>
                            <autocomplete ng-model="data.name" attr-placeholder="Enter Item Name"  name="name" click-activation="true" 
                            data ="data.products" class="popupinput"></autocomplete>
                         </div>
                  </div>
             </div>
