 <ion-modal-view style="background-color:rgb(255,255,255);">
    <ion-content>
         <div>
             <h1 style="color:black;font-famil;font-family: 'Work Sans', sans-serif;
                         font-family: 'Raleway', sans-serif;
                         font-family: 'Dosis', sans-serif;
                         font-family: 'Catamaran', sans-serif;
                         text-align:center;
                         margin-top:20%;"
                         >Select Shop</h1>
         </div>
        <div class="row"style="margin-left:5%;margin-top:20%;">
                <div class="col">
                     <img src="../img/pnp.png" alt="PicknPay" style="width:90%;height:auto;"ng-click="addShopName(items,'pnp')">
                </div>
                 <div class="col"style="margin-left:4%;">
                     <img src="../img/shoprite.png" alt="Shoprite" style="width:60%;height:auto;"ng-click="addShopName(items,'shoprite')">
                </div>
                 <div class="col">
                     <img src="../img/spar.gif" alt="Spar" style="width:60%;height:auto;"ng-click="addShopName(items,'spar')">
                </div>
                 <div class="col">
                    <img src="../img/woolworths.jpg" alt="woolworths" style="width:60%;height:auto;"ng-click="addShopName(items,'woolworths')">
                </div>
           </div>
             <p ng-click="closeModal2()" 
                  style="color:black;font-famil;font-family: 'Work Sans', sans-serif;
                         font-family: 'Raleway', sans-serif;
                         font-family: 'Dosis', sans-serif;
                         font-family: 'Catamaran', sans-serif;
                         text-align:center;
                         text-decoration:underline;
                         font-size:150%;
                         margin-top:20%;">Cancel</p>
    </ion-content>
  </ion-modal-view>