.item-complex .item-content{
   padding: 6px 6px 6px 4px;
}

.quantitiySize{
   width:15%;
   margin-left: 20%;
}
.loginback{
  background-color:rgb(253,132,38)!important;
  background: linear-gradient(#e67e00,rgb(253,132,38), #fdaf70);
  color:white!important;
}
.spinner{
    stroke: white;
    fill:white;
}
.checkbox {
    position: relative;
    display: inline; 
     padding: 0%; 
    cursor: pointer;
}
input[type="checkbox"] {
    float: right;
}
.item-checkbox {
    padding-left: 25px;
    padding-right: 25px;
    border:none;
    background-color: white;
}
.checkbox-royal input:before, .checkbox-royal .checkbox-icon:before {
    border-color:lightgray;;
}
.button.button-positive {
    border-color: transparent;
    background-color: rgb(253,132,38);
    color: #fff;
}
.item.activated.item-complex > .item-content  {
border-color: white;
background-color: white;
}
item.activate{
  color:rgb(255,255,255)
}
#floating-button a {
    border:none;
}
.popup-container {
  background-color:rgba(0,0,0,0.7);
}
.button.button-royal {
    background-color: rgba(253,132,38,0.9);
     border-color:white;
}
.menubodya{
  border-left: none;
  border-top: none;
  border-right: none;
}
.menubodyb{
  border-left: none;
  border-right: none;
}
.paddinga{
margin-top:0%;
}
.popup-container .popup {
    width: 100%;
    max-width: 100%;
    max-height: 90%;
    background-color: transparent;
    padding-bottom:50%
}
.popupinput{
  background-color: transparent;
  color: white;
}
.placeholder{
  color:white;
}
.popup-title{
  color: white;
 font-family: Tahoma, sans-serif, sans-serif,Helvetica,Arial, sans-serif;
  font-size:150%;
}
.popup-body{
  color: white;
 font-family: Tahoma, sans-serif, sans-serif,Helvetica,Arial, sans-serif;
  font-size:90%;
  padding-left:5%;
}
input, button, select, textarea {
  font-family: Tahoma, sans-serif, sans-serif,Helvetica,Arial, sans-serif;
}
.row {
    padding: 0px; 
}
.popup-head {
    border-bottom: none;
}
.itemcss{
 margin-bottom:2%;
  border-color:rgba(0,0,0,0.1);
  box-shadow: 0px 0.5px 0px 0 gray !important;
}
.itemcssh{
    margin-bottom: 2%;
    padding-bottom: 4%;
    padding-top: 4%;
    padding-left: 1.5%;
    border:none;
    box-shadow: 1px 1px 1px 0 gray !important;

}
.datesheader {
    margin: 4%;
    font-weight: bold;
    color:gray;
}
.itemcsshistory{
 padding-top: 1%;
 padding-left:0%;
 padding-right:0%;
 padding-bottom:0%;
 background-color: rgba(112,128,144,0);
 font-size:80%;
 border:none;
}
.checkbox-balanced input:before, .checkbox-balanced .checkbox-icon:before {
    border-color: lightgray;
}
.smalltext{
  font-size:70% !important;
  color: gray;
  float:right;
}
.royal{
  color:rgb(253,132,38);
}
.threetimes{
  margin-top:5%;
 font-family: 'Work Sans', sans-serif;
 font-family: 'Raleway', sans-serif;
 font-family: 'Dosis', sans-serif;
 font-family: 'Catamaran', sans-serif;
 color:rgb(253,132,38);
 padding: 3.5%;
 font-size:100%;
 position:relative;
}
.threetimesh{
 margin-top:1%;
 font-family: 'Work Sans', sans-serif;
 font-family: 'Raleway', sans-serif;
 font-family: 'Dosis', sans-serif;
 font-family: 'Catamaran', sans-serif;
 color:rgb(253,132,38);
 padding: 3.5%;
 padding-right:2%;
 font-size:100%;
 position:relative;
}
.thex{
  position:absolute;
  font-size:65%;
  color: black;
  margin-top: 14%;
}
.thexh{
  font-size:85%;
  color: rgba(0,0,0,0.5);
  padding-right:1%;
  padding-bottom:5%;
  margin-bottom:5%;
  padding-top:0px;
}
.bar .title {
    font-family: 'Work Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Dosis', sans-serif;
    font-family: 'Catamaran', sans-serif;
    font-size: 17px;
    font-weight: normal;
    line-height: 44px;
}
.itemname{
  font-family: 'Work Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
 font-family: 'Dosis', sans-serif;
 font-family: 'Catamaran', sans-serif;
  font-weight: normal;
color:rgb(0,0,0);
}
input[type=text] {
  color:white;
  font-size: 200%;
}
.item.activated{
  border-color:white;
  background-color:white;
}
input-placeholder {
  color:white;
}
input[type=number] {
  color:white;
  font-size: 200%;
  padding-bottom: 20.5%;
}
.menutabs{
  font-family: 'Work Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Dosis', sans-serif;
  font-family: 'Catamaran', sans-serif;
  font-weight: normal;
  color:rgb(0,0,0);
  font-size:110%;
  padding-left:0%;
  
}
.background{
  text-align: center;
  margin-top:30%
}
.backgroundpic{
  font-size:1000%;
  color:rgba(253,132,38,0.5);
   margin:auto;
}
.backgroundpici{
  font-size:800%;
  color:rgba(253,132,38,0.5);
  margin:auto;
}

.backgroundpicbox{
  font-size:1300%;
  color:rgb(253,132,38);
  margin:auto;
}
h2{
  font-size: 15%;
   color:rgba(253,132,38,0.5);
}
h3{
  font-size: 250%!important;
}
.popup-buttons .button {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
   -ms-flex: 1;
    flex: 1;
    display: block;
    min-height: 45px;
    border-radius: 2px;
    line-height: 20px;
    margin-right: 5px;
    border-radius:6%;
}
.header{
  background-color:rgb(253,132,38);
}
.backgroundbutton{
  font-size:300%;
  background-color:lightgray;
  color:white;
  margin-top:50%;
  margin-left:20%;
  border-radius: 100%;
  padding: 10%;
  border-color:black;
}
.scroll-content {
    margin:3%;
}
.pane{
    background-color: #F5F5F5;
}
.scroll-content {
  padding:3%;
    margin: 0%;
}
h1{
  color:white;
  font-family: 'Monoton', cursive;
}
input[type="checkbox"] {
     margin-top: 3%;
}
.col-50 {
    padding-top: 2%;
}
.col-50here {
    padding-top: 2%;
}
/*input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.8);
}
input:-moz-placeholder {
  color: white;
}
input:-ms-input-placeholder { /* IE10+ *//*
  color: white;
}*/
.autocomplete input {
    background-color: transparent;
}
.autocomplete li {
    background-color: transparent;
}
.popup-body {
    padding-bottom:35%;
    padding-top:10%;
 
}
.xspace{
  padding:0px;
  color:white;
  margin:0%;
}
.royal {
    color: rgb(253,132,38);
}
.bar.bar-royal{
  background-color:rgb(253,132,38);
};

.donthavelabel{
 color:white;
  font-family: 'Work Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
 font-family: 'Dosis', sans-serif;
 font-family: 'Catamaran', sans-serif;
 font-size:180%;

}
a {
  color: black;
  font-family: 'Work Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Dosis', sans-serif;
  font-family: 'Catamaran', sans-serif;
   text-decoration: none;
   font-size:120%;
   border: 0.5px solid black;
   padding:3%;
}
/* mouse over link */
a:hover {
    color: white;
    font-size:125%;
}

.button.button-royal.active, .button.button-royal.activated {
      background-color: rgb(253,132,38); }
.button.button-royal.button-clear {
      color: rgb(253,132,38); }
.button.button-royal.button-outline {
      border-color: rgb(253,132,38);
      color: rgb(253,132,38); }
.button.button-royal.button-outline.active, .button.button-royal.button-outline.activated {
        background-color: rgb(253,132,38);
 }

